# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Credenciales y variables de entorno — NUNCA subir
.env
*.env
secrets.json

# Datasets grandes
datos/crudos/
*.csv.gz
*.parquet

# Temporales de Office
~$*
*.tmp

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
